{% include header_posts.html %}
<div class="row-fluid">
<!--     <div class="span4">
        {% include sidebar.html %}
    </div> -->
<div class="span8" style="background-color: rgba(239,239,239,0.1); padding: 10px; border: 1px dashed; border-radius: 10px">
    <h1>{{ page.title }}</h1>
    <h5>{{ page.date | date_to_long_string }}</h5>
    <p>
      {{ content }}
    </p>
</div>

<!-- Pagination -->

{% include post_pagination.html %}

<!--Comments -->

{% include post_comments.html %}

{% include footer.html %}